<div class="box">
    <h1 class="title has-text-centered">Configure Sync Zone of fast sync</h1>
    <div class="field">
        <p class="control">
            <input class="input" type="string" placeholder="sync zone" [(ngModel)]="synZone"/>
        </p>
    </div>

        <div class="field is-grouped is-grouped">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link" (click)="onSubmit()">
                        Begin
                    </button>
                </div>
            </div>
        </div>
</div>